<div class="top_image">
  <%= image_tag 'warashibe.png', width: '20%', height: '20%' %>
</div>

<div class="container">
  <div class="wrap">
    <% @users.each do |user| %>
      <% if user.item.present? %>
        <div class="top_item">
          <%= link_to user_path(user) do%>
            <%= image_tag user.item.itemimage.url, size: '200x150' %>
          <% end %>
          <h2><%= user.item.itemname %></h2>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

 <%= render "public/homes/login_modal" %>

<%= javascript_include_tag "login.js" %>