<div class="top_image">
  <%= image_tag 'warashibe.png', width: '20%', height: '20%' %>
</div>


<% @users.each do |user| %>
  <% if user.item.present? %>
    <div class="container">
      <div class="flex-col2">
        <div class="flex-child">
          <%= link_to user_path(user) do%>
            <%= image_tag user.item.itemimage.url, size: '160x120' %>
          <% end %>
        </div>
        <div class="flex-child">
          <%= user.item.itemname %>
        </div>
        <div class="flex-child">
          <%= user.item.info %>
        </div>
      </div>
    </div>
  <% end %>
<% end %>

 <%= render "public/homes/login_modal" %>

<%= javascript_include_tag "login.js" %>