<div class="container">
  <table>
    <thead>
      <tr>
        <th>
          NO.
        </th>
        <th>
          picture
        </th>
        <th>
          item name
        </th>
        <th>
          user name
        </th>
        <th>
          item info
        </th>
        <th>
          offerを受ける
        </th>
      </tr>
    </thead>
    <tbody>
      <% i = 0 %>
      <% @users.each do |user| %>
          <% if user.item.present? %>
      <tr>
        <td>
          <%= i+=1 %>
        </td>
        <td>
          <%= image_tag user.item.itemimage.url, size: '120x80' %>
        </td>
        <td>
          <%= user.item.itemname %>
        </td>
        <td>
          <%= user.name %>
        </td>
        <td>
          <%= user.item.info %>
        </td>
        <td>
          <%= form_with(model: user.active_relationships.find_by(followed_id: current_user),
             html: { method: :delete }, remote: true) do |f| %>
            <%= f.submit "交換する", class: "btn" %>
          <% end %>
        </td>
      </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>